@using Nancy.ViewEngines.Razor.HtmlHelpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Nancy.ViewEngines.Razor.HtmlHelpers.TestApp.Model>
@{
    ViewBag.Title = "Home";
}

Hello world.


<h1>TextBoxFor</h1>

@Html.TextBoxFor(x=>x.AString)
@Html.TextBoxFor(x=>x.ABool)
@Html.TextBoxFor(x=>x.AnInt)
@Html.TextBoxFor(x=>x.EnumerableInts)
@Html.TextBoxFor(x=>x.ListOfStrings)
@Html.TextBoxFor(x=>x.NullableInt)

@Html.TextBoxFor(x => x.AString, new { myAttribute = "isAwesome" })
@Html.TextBox("TextBoxName", "TBValue")

<hr />

<h1>Hidden (view source!)</h1>

@Html.HiddenFor(x => x.AString)
@Html.HiddenFor(x => x.ABool)
@Html.HiddenFor(x => x.AnInt)
@Html.HiddenFor(x => x.EnumerableInts)
@Html.HiddenFor(x => x.ListOfStrings)
@Html.HiddenFor(x => x.NullableInt)

@Html.HiddenFor(x => x.AString, new { myAttribute = "isAwesome" })
@Html.Hidden("HiddenTextBoxName", "TBValue")

<hr />

<h1>TextBoxFor</h1>

@Html.PasswordFor(x => x.AString)
@Html.PasswordFor(x => x.ABool)
@Html.PasswordFor(x => x.AnInt)
@Html.PasswordFor(x => x.EnumerableInts)
@Html.PasswordFor(x => x.ListOfStrings)
@Html.PasswordFor(x => x.NullableInt)
      
@Html.PasswordFor(x => x.AString, new { myAttribute = "isAwesome" })
@Html.Password("PasswordTextBoxName", "TBValue")

<hr />

<h1>TextAreaFor</h1>

@Html.TextAreaFor(x => x.AString)
      
@Html.TextAreaFor(x => x.AString, new { myAttribute = "isAwesome" })
@Html.TextArea("TextAreaFor", "TBValue")

<hr />

<h1>CheckBoxFor</h1>

@Html.CheckBox("CheckBoxName")
@Html.CheckBoxFor(x=>x.ABool)
@Html.CheckBoxFor(x=>x.ABool, true)
@Html.CheckBoxFor(x=>x.ABool, false)
@Html.CheckBoxFor(x=>x.ABool, true, new { myAttribute = "isAwesome" })

<hr/>


<h1>LabelFor</h1>

@Html.LabelFor(x => x.AString)
@Html.LabelFor(x => x.ABool)
@Html.LabelFor(x => x.AnInt)
@Html.LabelFor(x => x.EnumerableInts)
@Html.LabelFor(x => x.ListOfStrings)
@Html.LabelFor(x => x.NullableInt)

@Html.LabelFor(x => x.AString, new { myAttribute = "isAwesome" })
@Html.Label("TextBoxName", "TBValue")