@using Nancy.ViewEngines.Razor.HtmlHelpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Nancy.ViewEngines.Razor.HtmlHelpers.TestApp.Model>
@{
    ViewBag.Title = "Home";
}

Hello world.


<h1>TextBoxFor</h1>

@Html.TextBoxFor(x=>x.AString)
@Html.TextBoxFor(x=>x.ABool)
@Html.TextBoxFor(x=>x.AnInt)
@Html.TextBoxFor(x=>x.EnumerableInts)
@Html.TextBoxFor(x=>x.ListOfStrings)
@Html.TextBoxFor(x=>x.NullableInt)

@Html.TextBoxFor(x => x.AString, new { myAttribute = "isAwesome" })

<hr />